<!DOCTYPE html>
<html lang=all>
  <head>
    <meta name="msvalidate.01" content="93AA843AA65CE4503756DC26FD2D4035" />
    <meta name="google-site-verification" content="wnmnoec9GOlfjkliCwFiBFoEcFU-SKcsB0IZNS4UuEU" />
    <meta charset=UTF-8>
    <meta name=description content="ITC Task Manager">
    <meta name="keywords" content="ITC Task Manager">
    <meta name="author" content="Milad">
    <link rel=stylesheet type=text/css href=/stylesheets/googlefonts.css>
    <title>{{title}}</title>
    <link rel=icon type=image/png href=/images/logo.png />
    <link rel=stylesheet href=/stylesheets/animate.css>
    <link type=text/css rel=stylesheet href=/stylesheets/bootstrap.min.css media="all"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name=viewport content="width=device-width, initial-scale=1.0"/>
    <link rel=stylesheet href=/stylesheets/style.css />
  </head>
  <body>
    {{>header}}
    <div class=container id="indexcontent">
      {{{body}}}
    </div>

    <script  src="/javascripts/jquer3.2.1.js"></script>
    <script   src="/javascripts/bootstrap.min.js"></script>
    <div id=fb-root></div>
  </body>
</html>
