<div class="row">
	<div class="col-12">		
		<form action="/employees/updateTasksProject/{{projectId}}" method="post" id="milad">
            {{# if tasks}}
                    {{# each tasks}}
                        <div class="form-group">
                            <label class="form-control-label">Task Name</label>
                            <div class="row">
                                <div class="col-10">
                                <input type="text" name="tasks" id="task" class="form-control" value="{{this}}" required>
                                </div>
                                <div class="col-2">
                                    <span class="text-danger btn btn-warning"> <i class="fa fa-minus-square"></i> </span>
                                </div>
                            </div>
                        </div>
                    {{/each}}
            {{/if}}


			<div class="form-group">
				<section id="container" />
			</div>
			<hr>
			<div class="form-group">
    			<button type="button" onclick="newTask()" class="btn btn-primary btn-block" >New Task </button>
    		</div>
	        <hr>
	        <div class="form-group">
	        	<button type="submit" class="btn btn-primary btn-block" >Update Task </button>
			</div>
	    </form>
    </div>
    <div class="col-12 col-md-4 offset-md-4">
    </div>
</div>

<script>
	function newTask() {
		var container = document.getElementById('container');
		container.appendChild(document.createTextNode('Task Name'));
		var input = document.createElement("input");
		input.type = "text";
		input.name = "tasks";
		input.className = "form-control";
		container.appendChild(input);
		container.appendChild(document.createElement("br"));

	}
</script>